/* index.html styling */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: #64494e;
  margin: 1%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Monoton', cursive;
  background-color: #ec8550;
  padding: 5px;
}

header{
  background-color: #c5b1b4;
  color: #64494e;
  position: relative; 
  text-align: center;
  padding
}

.logo{
  height: 100px;
  width: 300px;
  opacity: 0.5;
}

h1 { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  background: none;
  font-weight: bolder;
}

nav ul{
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

a:link{
  text-decoration: none;
}

/* main h2 {
  height: 20px;
  text-align: center;
  padding: 15px;
} */

article p {
  color: #f6f8f7;
  
}



/* sales.html styling */

#store-Sales {
  table-layout: auto;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td, th, tr{
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  
  
}

th {
  border-style: none;  
}

